.breadcrumb{
  display:none;
}

.not-logged-in #field-phone-number-add-more-wrapper fieldset{
   display:none;
}

.view-callblasts-phone-numbers- .red{
    color:red;
}

.view-callblasts-phone-numbers- .green{
    color:green;
}

.form-autocomplete {
  position: relative;
}

.field-widget-taxonomy-autocomplete {
  position: relative;
}